<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

    body {
        background-color: rgb(22, 71, 130);
        color: white;
        fill: white;
        font-family: 'Exo', sans-serif;
    }

    #aboutTeam,
    #goals {
        width: 75%;
        margin: auto;
        margin-top: 20px;
    }

    .image {
        width: 37%;
        margin-left: 1.5em;
    }

    .images {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .person_image img {
        width: 50%;
        border-radius: 50%;
    }

    .cards {
        width: 100%;
        flex-wrap: wrap;
    }

    .card {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .main-container {
        margin-bottom: 5rem;
    }
</style>

<body>
    <div class="container text-center mt-5 main-container">
        <h1>Cool Team Name</h1>
        <hr />
        <p id="aboutTeam">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus pretium quam. Id interdum velit
            laoreet id donec ultrices tincidunt arcu non. Fermentum leo vel orci porta. Ut placerat orci nulla
            pellentesque dignissim enim sit amet venenatis. Nibh tortor id aliquet lectus proin nibh nisl condimentum
            id. At tempor commodo ullamcorper a lacus vestibulum. Convallis posuere morbi leo urna molestie. Ullamcorper
            velit sed ullamcorper morbi tincidunt ornare. Dapibus ultrices in iaculis nunc. Cursus euismod quis viverra
            nibh cras pulvinar. Sed libero enim sed faucibus turpis. Consequat semper viverra nam libero justo laoreet
            sit amet. Purus sit amet luctus venenatis lectus magna fringilla urna. Volutpat maecenas volutpat blandit
            aliquam etiam erat velit. Vitae purus faucibus ornare suspendisse. Tempor commodo
            ullamcorper a lacus. Purus semper eget duis at tellus at. Etiam sit amet nisl purus.
        </p>
        <br />
        <div class="images flex">
            <img class="image" src="https://cdn.shawnengmann.com/shawn/g5knzl.jpg" alt="Cool Image" />
            <img class="image" src="https://cdn.shawnengmann.com/shawn/g5knzl.jpg" alt="Cool Image" />
        </div>
        <br />
        <h2>Meet The Team</h2>
        <hr />
        <div class="flex cards">

            <div class="card bg-transparent" style="width: 18rem;">
                <div class="person_image">
                    <img src="https://cdn.shawnengmann.com/shawn/rfVmPv.png" alt="" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Shawn Engmann</h5>
                    <p class="card-text">
                        <%= weather_data %>
                    </p>
                    <a href="https://domain.tld" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>